sortedcontainers==2.4.0
simplejson==3.20.1
datasets==2.16.0
Levenshtein==0.27.1
modelscope==1.27.1
addict==2.4.0
jieba==0.42.1
funasr==1.2.6
librosa==0.11.0
soundfile==0.13.1
torch-complex==0.4.4
av==14.2.0
requests==2.31.0 